[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
[submodule "rapier3d-framework/external/glfw"]
	path = rapier3d-framework/external/glfw
	url = git@github.com:glfw/glfw
[submodule "rapier3d/external/tinyobjloader"]
	path = rapier3d/external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "rapier3d-gl/external/glad"]
	path = rapier3d-gl/external/glad
	url = git@github.com:Dav1dde/glad.git
[submodule "rapier3d/external/imgui"]
	path = rapier3d/external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "rapier3d/external/stb"]
	path = rapier3d/external/stb
	url = git@github.com:nothings/stb.git
[submodule "rapier3d/external/tinygltf"]
	path = rapier3d/external/tinygltf
	url = git@github.com:syoyo/tinygltf.git
